.res-wrap {
    margin-left: 30px;
}

.button_sign .disabled {

}

.button_sign {
    margin-top: 20px;
    background-color: #143EC0;
    color: white;
    padding: 10px 30px;
    border-radius: 15px;
    border: none;
    text-align: center;
}



.signButton-wrap {
    text-align: center;
}
.res-text {
    color: #666;
    margin-top: 20px;
    margin-bottom: 30px;
}


.res-pass {
    width: 100%;
    border: none;
    padding: 10px 5px;

}

.res-back {
    text-decoration: none;
    color: black;
}

.res-sign {
    margin-top: 20px;
    font-size: 12px;
}
.res-sign a {
    color: #0099D2;
    font-size: 12px;
    text-decoration: none;
    font-weight: 500;
}


.res-nav {
    bottom: 50px;
    position: fixed;
    display: flex;
}

.res-nav_text {
    color: #AAA;
}

.res-nav_click a {
    text-decoration: none;
    margin-left: 5px;
    color: #324A59;
}



.res-box2 {
    margin-top: 20px;
}

.res-icon::after {
    content: "";
    position: absolute;
    border-left: 2px solid #C1C7D0;
    height: 20px;
    margin-left: 10px;
    transform: translateY(-50%);
    transform: translateX(50%);

}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}
