.ins {
    color: #000;
    text-align: center;
}

.bg {
    background-image: url(~/src/components/pic/pic1_test.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
 
}

.ins-head {
    padding-top: 20px;
}

.ins-logo {
    padding-top: 50vh;
    font-size: 4rem;
    font-weight: 800;
}

.ins-text {
    margin: 0 30px;
    line-height: 3rem;
    font-size: 2.4rem;
    font-weight: 500;
}


.ins2-text {
    padding-top: 325px;
    padding-left: 50px;
    padding-right: 50px;
    line-height: 2rem;
}

.ins2-but {
    margin-top: 10px;
    margin-bottom: 30px;
    color: white;
    padding: 8px;
    cursor: pointer;
    background-color: #354a63;
    border:none;
    border-radius: 5px;
    font-weight: 600;
}

.ins-but {
    margin-top: 20px;
    margin-bottom: 30px;
    color: black;
    padding: 8px;
    cursor: pointer;
    background-color: #e2bd36;
    border:none;
    border-radius: 5px;
    font-weight: 600;
}

.layout-btn {
    width: 60%;
    padding: 15px;
    border-radius: 15px;
    margin-top: 20px;
    border: none;
    background-color: #106FE0;
    color: white;
    font-weight: 500;
    font-size: 14px;
}

.for_padding {
    padding-top: 30%;
}

.App {
    height: 80vh;
}