
.DownContain2 {
    background-image: url(~/src/components/pic/pic1.jpg);
    background: cover;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 4px;
    margin-bottom: 30px;
}
.UpContain2 {
        background-image: url(~/src/components/pic/pic1.jpg);
    background: cover;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 4px;
    margin-bottom: 30px;
}

.UpContain-icon2 {
    color: #2abaff;
    display: flex;
    justify-content: center;
    padding: 100px;
}

.DownContain-icon2 {
    color: white;
    display: flex;
    justify-content: center;
    padding: 100px;    

}
.icon2-wrap {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;

}
.icon2-wrap i {
    padding: 3px 8px;
    border-radius: 50%;
    background-color: #34b233;
    margin-right: 4px;
}
    