.arrow-return {
    font-size: 1.4rem;
    border-radius: 50%;
    text-decoration: none;
    color: black;
    padding-top: 20px;
    display: flex;
    margin-left: 15px;
    width: 5%;
    
}

.subject-title {
    margin-top: 10px;
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.but-wrap {
    justify-content: center;
    display: flex;
    text-decoration: none;
}

