.vid-wrap {
    height: 100%;
    width: 100%;
}
.barTop {
    background-color:#354A63;
    width: 100%;
    height: 60px;  
    display: flex;
    justify-content: center;
}

.barTop-exit {
    position: absolute;
    right: 40vw;
    top: 10px;
    width: 100px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
}

.exit-button {
    padding: 2px 10px;
}

.exit-button a {
    text-decoration: none;
}

.exit-button i {
    padding-right: 4px;
}

.barTop-title {
    color: white;
    height: 100%;
    align-items: center;
    font-size: 3rem;
}

.container-button {
    color: black;
    background-color: #1789BA;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
}

.button-wrap {
    justify-content: center;
    display: flex;
    padding-top: 30px;
}


.camera_button {
    color: black;
    background-color: #facf39;
    padding: 5px 10px;
    border: #333;
    border-radius: 3px;
}

.camera_button:hover {
    cursor: pointer;
}

.barDown {
    background-color:#354A63;
    width: 100%;
    height: 60px;
    bottom: 0;
    z-index: 2;
    position: sticky;
}


.barDown-items a {
    cursor: pointer;
    text-decoration: none;
}

.nonActive-icon {
    color: white;
}
.active-icon {
    color: #e36363;
}

.container-camera {
    position: relative;

}

.button-handler {
    display: flex;
    justify-content: flex-start;
}
.buttonTitle {
    font-size: 16px;
}
// .upload {
//     position: relative;
//     max-width: 50px;
//     height: 60px;
//     z-index: 3;
// }

.camera_button input {
    position: relative;
        max-width: 50px;
        height: 80px;
        z-index: 3;
}

.camera_button {
    width:30%;
    height:40px;
    z-index: 1;
    
}

.webcam_controller {
    justify-content: center;
    width: 100%;
}
.webcam_controller video {
    width: 100%;
    margin-bottom: 5px;
}

.webcam_controller button {
    color: black;
    background-color: #facf39;
    border: #333;
    border-radius: 3px;
    justify-content: center;        
    display: flex;
    margin: auto;    
    
}

.button_camera {
    margin-right: 5px;
}

.camera_button i {
    margin-right: 4px;
}

.container {
    height: 100%;   
    background-image: url(~/src/components/pic/pic5.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
.webcam_controller button {
    padding: 14px;
}

.container-camera {
    justify-content: center;
    display: flex;
    padding-bottom: 20px;
    color: #1789BA;
}