.res-wrap {
    margin-left: 30px;
    margin-top: 20px;
}

.res-heading {
    margin-top: 100px;
    font-size: 30px;
    color: #143EC0;
    font-weight: bold;
    margin-bottom: 50px;
}



.res-text {
    color: #666;
    margin-top: 20px;
    margin-bottom: 30px;
}


.res-pass {
    width: 100%;
    border: none;
    padding: 10px 5px;

}

.res-back {
    text-decoration: none;
    color: black;
}

.res-add {
    border: none;
    padding: 10px 5px;
    width: 89%;
}
.res-forget {
    margin-top: 5px;
    float: right;
    margin-right: 40px;

}
.res-forget a {
    text-decoration: none;
    color: #143EC0;
    font-size: 12px;
    font-weight: bold;
}

.res-arrow {
    bottom: 45vh;
    width: 50px;
    height: 50px;
    background: #324A59;
    color:white;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    cursor: pointer;
    right:42vw;

}

.res-arrow a {
    text-decoration: none;
    color: white;
}
.res-nav {
    bottom: 50px;
    position: fixed;
    display: flex;
}

.res-nav_text {
    color: #AAA;
}

.res-nav_click a {
    text-decoration: none;
    margin-left: 5px;
    color: #324A59;
}

.res-icon {
    margin-right: 10px;
    padding: 10px 12px 12px;   
    color: #0099D2;

}

.res-box {
    border-bottom: 0.1px solid #C1C7D0 ;
    width: 90% ;
    display: flex;
    background-color: #d9d9d9;
    border-radius: 5px;


}

.res-box input {
    background-color: #d9d9d9;
}

.signButton {
    margin-top: 50px;
    text-align: center;
}

.signButton-click {
    background-color: #143EC0;
    color: white;
    padding: 10px 30px ;
    border-radius: 15px;
    border: none;
}

.res-box2 {
    margin-top: 20px;
}

.res-icon::after {
    content: "";
    position: absolute;
    border-left: 2px solid #C1C7D0;
    height: 20px;
    margin-left: 10px;
    transform: translateY(-50%);
    transform: translateX(50%);
}

.register-button {
    border: none;
    background-color: #324A59;
    color: white;
    width: 90%;
    height: 40%;
    cursor: pointer;

}